.sugerencias-lista {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1000;
}

.sugerencias-lista div {
    padding: 8px;
    cursor: pointer;
}

.sugerencias-lista div:hover {
    background-color: #f0f0f0;
}
